<nb-card>
  <nb-card-header>
    <div class="row col-md-12">
      <nav aria-label="breadcrumb" class="col-md-10">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Master</a></li>
          <li class="breadcrumb-item"><a href="#">Department</a></li>
        </ol>
      </nav>
      <div class="col-md-2">
            <button type="button" class="btn btn-primary"  onclick="add()">
              + Add
            </button>
        </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-department-list>

    </ngx-department-list>
  </nb-card-body>
</nb-card>

