<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-header>
        <p> Apply Filters </p>
      </nb-card-header>
      <nb-card-body>
        <div class="row" style="display: block;">
          <div class="col-md-9">
            <label> Store Id </label>
            <input type="text" class="form-control" placeholder="store.mintbase1.near" [value]="store" #heroName>
          </div>
          <div class="col-md-2" style="margin-top: 2%;">
            <label> </label>
            <button class="btn btn-success" (click)="fetch(heroName.value)">Fetch</button>
          </div>
        </div>
        <ngx-filter (filter)="changeFilter($event)"> </ngx-filter>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-9">
    <nb-card>
      <nb-card-header>
        <div class="row col-md-12"></div>
      </nb-card-header>
      <nb-card-body>
        <ngx-department-list [datatrigger]="datatrigger"></ngx-department-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
